#nav-main {
  padding-top: 32px;

  .nav-main-holder {
    .MuiList-root {
      display: flex;

      .MuiMenuItem-root {
        padding: 0;

        a {
          display: block;
          padding: 8px 16px;
          text-decoration: none;
          color: black;
        }
      }

      &.settings {
        justify-content: space-between;
      }
    }
  }
}
